:root {
  /*color*/
  --lavenderblush: #fff0f5;
  --dimgray: #696969;
  --lavender: #e6e6fa;

  /*font size*/
  --fontsize-large: 28px;
  --fontsize-medium: 24px;
  --fontsize-small: 20px;
  --fontsize-mini: 16px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: white;
}

.title {
  text-align: center;
  font-size: var(--fontsize-large);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

header {
  position: sticky;
  top: 0;
}

#main a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 20px 12px;
}

#main a:hover,
#main a:active {
  color: black;
}

#main .page_title a:hover {
  color: white;
}

.navbar {
  background-color: mediumpurple;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .page_title {
  color: white;
  font-size: var(--fontsize-large);
  font-weight: bold;
  margin-left: 12px;
}

.navbar .navbar_menu {
  display: flex;
}

.navbar .navbar_menu li {
  list-style-type: none;
  padding: 20px 12px;
}

.navbar .navbar_menu li:hover,
.navbar .navbar_menu li:active {
  color: black;
  background-color: white;
}

.navbar .navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 18px;
  font-size: 18px;
}

.aboutMe {
  padding: 40px 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.mySlides {
  display: none;
}

.aboutMe img {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.current {
  background-color: var(--dimgray);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.aboutMe .info {
  line-height: 1.8;
}

.aboutMe .more {
  position: fixed;
  top: 90px;
  right: 30px;
  text-decoration: none;
  color: var(--dimgray);
  font-size: var(--fontsize-small);
}

.aboutMe .more img {
  width: 50px;
  height: 50px;
}

.aboutMe .more:hover {
  font-weight: bold;
}

.aboutMe .more img:hover {
  width: 55px;
  height: 55px;
}

#skills {
  padding: 100px 0px;
}

#skills li {
  list-style-type: none;
  line-height: 1.8;
  font-size: var(--fontsize-mini);
}

#skills img {
  width: 30px;
  vertical-align: middle;
}

#skills .languages {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: auto;
  color: var(--dimgray);
  font-size: var(--fontsize-small);
}

#skills progress {
  height: 30px;
  width: 250px;
}

#progressBar {
  width: 300px;
  height: 20px;
  border: 2px solid mediumpurple;
  background-color: #fff;
  margin-bottom: 8px;
}

#progressBarFull10 {
  height: 18px;
  background-color: mediumpurple;
  width: 100%;
}

#progressBarFull8 {
  height: 18px;
  background-color: mediumpurple;
  width: 80%;
}

#progressBarFull7 {
  height: 18px;
  background-color: mediumpurple;
  width: 70%;
}

#progressBarFull5 {
  height: 18px;
  background-color: mediumpurple;
  width: 50%;
}

#progressBarFull4 {
  height: 18px;
  background-color: mediumpurple;
  width: 40%;
}

#contact {
  padding: 100px 0px 200px;
  margin: auto;
}

#contact li {
  text-align: center;
  font-size: var(--fontsize-small);
  line-height: 2;
  list-style-type: none;
}

#contact a {
  text-decoration: none;
}

#contact ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: auto;
}

#contact li {
  display: flex;
  flex-direction: column;
}

#contact img {
  width: 50px;
  height: 50px;
  margin: auto;
}

#contact .address_title {
  font-size: var(--fontsize-small);
  color: orange;
}

#contact .address {
  text-decoration: none;
  font-size: var(--fontsize-mini);
  color: var(--dimgray);
}

.moreAboutMe {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  width: 850px;
  margin: auto;
}

table img {
  width: 50px;
  height: 50px;
}

table,
th,
td {
  border: 2px solid lavender;
  width: 250px;
  text-align: center;
  border-collapse: collapse;
  padding: 6px;
  line-height: 1.3;
}

th {
  font-size: var(--fontsize-small);
  background-color: lavender;
}

td {
  font-size: var(--fontsize-mini);
  color: var(--dimgray);
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .page_title {
    margin: 12px;
  }

  .navbar .navbar_menu {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
  }

  .navbar .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu.active {
    display: flex;
  }

  .aboutMe .aboutMeText {
    display: none;
  }

  #skills .languages {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #skills .humanLang {
    margin-top: 24px;
  }

  #contact .contactAddress {
    width: 400px;
  }

  .moreAboutMe {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .moreAboutMe table {
    margin-top: 20px;
  }
}
